<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>test-algolia</title>
  </head>

  <body>
    <div class="ais-InstantSearch">
      <h1>InstantSearch.js e-commerce dem0</h1>

      <div class="left-panel">
        <div id="clear-refinements"></div>

        <h2>Categories</h2>
        <div id="hierarchical-menu"></div>

        <h2>Brands</h2>
        <div id="brand-list"></div>
      </div>

      <div class="right-panel">
        <div id="searchbox" class="ais-SearchBox"></div>
        <div id="hits"></div>
        <div id="pagination"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/4.33.1/instantsearch.production.min.js" integrity="sha512-WCm6BStJPOp9rndvKYpPIpo8eAocjXHETowd3p2CBJUnmgSKlxdy+LCBrLgRHssZbp8h4RZSKUfk8/lpIbJ52g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/demo.js"></script>
  </body>
</html>
